root {
  --color-primary: "#096dd9";
}

body {
  margin: 0;
  padding: 0;
}

.demo-logo-vertical {
  display: block;
  height: 32px;
  width: auto;
  margin: 16px;
  background: #ccc;
  border-radius: 6px;
}
